---
http_interactions:
- request:
    method: post
    uri: https://api.cloudinary.com/v1_1/dsrvrjdsl/raw/upload
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-0002e33bedd5a60cda1b4feb818f7f0a\r\nContent-Disposition:
        form-data; name=\"timestamp\"\r\n\r\n1724669959\r\n-------------RubyMultipartPost-0002e33bedd5a60cda1b4feb818f7f0a\r\nContent-Disposition:
        form-data; name=\"overwrite\"\r\n\r\n1\r\n-------------RubyMultipartPost-0002e33bedd5a60cda1b4feb818f7f0a\r\nContent-Disposition:
        form-data; name=\"unique_filename\"\r\n\r\n0\r\n-------------RubyMultipartPost-0002e33bedd5a60cda1b4feb818f7f0a\r\nContent-Disposition:
        form-data; name=\"use_filename\"\r\n\r\n1\r\n-------------RubyMultipartPost-0002e33bedd5a60cda1b4feb818f7f0a\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"RackMultipart20240826-92197-50pbrz.csv\"\r\nContent-Length:
        42\r\nContent-Type: application/octet-stream\r\nContent-Transfer-Encoding:
        binary\r\n\r\nname,password\r\n,\r\nMuhammad,QPFJWz1343439\r\n\r\n-------------RubyMultipartPost-0002e33bedd5a60cda1b4feb818f7f0a\r\nContent-Disposition:
        form-data; name=\"signature\"\r\n\r\n561a3a71af3d110f0b9b9220704d601b94ba8b94\r\n-------------RubyMultipartPost-0002e33bedd5a60cda1b4feb818f7f0a\r\nContent-Disposition:
        form-data; name=\"api_key\"\r\n\r\n894569618199779\r\n-------------RubyMultipartPost-0002e33bedd5a60cda1b4feb818f7f0a--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-0002e33bedd5a60cda1b4feb818f7f0a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"fee07e8f9ba8e550fa60eeecc0565013"
    body:
      encoding: ASCII-8BIT
      string: '{"asset_id":"8df1b234509a525e5784e80618ac4ce8","public_id":"RackMultipart20240826-92197-50pbrz.csv","version":1724669961,"version_id":"4c5fd7c4a6fcda370c86d452ac86e672","signature":"7addbb0144017aee3232b900d458c0dd9bbb24b0","resource_type":"raw","created_at":"2024-08-26T10:59:21Z","tags":[],"bytes":42,"type":"upload","etag":"6418aca3c62a42d6d77031c1e6b5d9d6","placeholder":false,"url":"http://res.cloudinary.com/dsrvrjdsl/raw/upload/v1724669961/RackMultipart20240826-92197-50pbrz.csv","secure_url":"https://res.cloudinary.com/dsrvrjdsl/raw/upload/v1724669961/RackMultipart20240826-92197-50pbrz.csv","folder":"","original_filename":"RackMultipart20240826-92197-50pbrz","api_key":"894569618199779"}'
  recorded_at: Mon, 26 Aug 2024 10:59:21 GMT
- request:
    method: get
    uri: http://res.cloudinary.com/dsrvrjdsl/raw/upload/v1724669961/RackMultipart20240826-92197-50pbrz.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/csv
      Etag:
      - '"6418aca3c62a42d6d77031c1e6b5d9d6"'
      Last-Modified:
      - Mon, 26 Aug 2024 10:59:22 GMT
    body:
      encoding: UTF-8
      string: "name,password\r\n,\r\nMuhammad,QPFJWz1343439\r\n"
  recorded_at: Mon, 26 Aug 2024 10:59:21 GMT
recorded_with: VCR 6.3.1
