---
http_interactions:
- request:
    method: post
    uri: https://api.cloudinary.com/v1_1/dsrvrjdsl/raw/upload
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-8b06a7dcd7673397a5ac91e9b63c6a79\r\nContent-Disposition:
        form-data; name=\"timestamp\"\r\n\r\n1724664619\r\n-------------RubyMultipartPost-8b06a7dcd7673397a5ac91e9b63c6a79\r\nContent-Disposition:
        form-data; name=\"overwrite\"\r\n\r\n1\r\n-------------RubyMultipartPost-8b06a7dcd7673397a5ac91e9b63c6a79\r\nContent-Disposition:
        form-data; name=\"unique_filename\"\r\n\r\n0\r\n-------------RubyMultipartPost-8b06a7dcd7673397a5ac91e9b63c6a79\r\nContent-Disposition:
        form-data; name=\"use_filename\"\r\n\r\n1\r\n-------------RubyMultipartPost-8b06a7dcd7673397a5ac91e9b63c6a79\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"RackMultipart20240826-52006-ftbicy.csv\"\r\nContent-Length:
        42\r\nContent-Type: application/octet-stream\r\nContent-Transfer-Encoding:
        binary\r\n\r\nname,password\r\n,\r\nMuhammad,QPFJWz1343439\r\n\r\n-------------RubyMultipartPost-8b06a7dcd7673397a5ac91e9b63c6a79\r\nContent-Disposition:
        form-data; name=\"signature\"\r\n\r\nf6c6c16878510061960d67e6791dd3d375373035\r\n-------------RubyMultipartPost-8b06a7dcd7673397a5ac91e9b63c6a79\r\nContent-Disposition:
        form-data; name=\"api_key\"\r\n\r\n894569618199779\r\n-------------RubyMultipartPost-8b06a7dcd7673397a5ac91e9b63c6a79--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-8b06a7dcd7673397a5ac91e9b63c6a79
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f344e93b9afc41f027b05702ae3ebd11"
    body:
      encoding: ASCII-8BIT
      string: '{"asset_id":"72683006713be05dbecdc46fff05efcc","public_id":"RackMultipart20240826-52006-ftbicy.csv","version":1724664621,"version_id":"6f595fe63d377cf47f6359fdb373679a","signature":"f63b8d4eb3d5e32fcccf8ceeb0c94af67e529901","resource_type":"raw","created_at":"2024-08-26T09:30:21Z","tags":[],"bytes":42,"type":"upload","etag":"6418aca3c62a42d6d77031c1e6b5d9d6","placeholder":false,"url":"http://res.cloudinary.com/dsrvrjdsl/raw/upload/v1724664621/RackMultipart20240826-52006-ftbicy.csv","secure_url":"https://res.cloudinary.com/dsrvrjdsl/raw/upload/v1724664621/RackMultipart20240826-52006-ftbicy.csv","folder":"","original_filename":"RackMultipart20240826-52006-ftbicy","api_key":"894569618199779"}'
  recorded_at: Mon, 26 Aug 2024 09:30:21 GMT
- request:
    method: get
    uri: http://res.cloudinary.com/dsrvrjdsl/raw/upload/v1724664621/RackMultipart20240826-52006-ftbicy.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/csv
      Etag:
      - '"6418aca3c62a42d6d77031c1e6b5d9d6"'
      Last-Modified:
      - Mon, 26 Aug 2024 09:30:22 GMT
    body:
      encoding: UTF-8
      string: "name,password\r\n,\r\nMuhammad,QPFJWz1343439\r\n"
  recorded_at: Mon, 26 Aug 2024 09:30:22 GMT
recorded_with: VCR 6.3.1
