<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th colspan="2" class="table-header-title">
        <h3 class="text-center">Created Users</h3>
      </th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody id="users">
    <%= render @users %>
  </tbody>
</table>
