<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th colspan="2" class="table-header-title">
        <h3 class="text-center">Error Log</h3>
      </th>
    </tr>
    <tr>
      <th>User</th>
      <th>Error Description</th>
    </tr>
  </thead>
  <tbody id="users_errors">
    <%= render @users_errors %>
  </tbody>
</table>
