---
http_interactions:
- request:
    method: post
    uri: https://api.cloudinary.com/v1_1/dsrvrjdsl/raw/upload
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-2bb7b751758949612b695ba13ec78ea0\r\nContent-Disposition:
        form-data; name=\"timestamp\"\r\n\r\n1724673237\r\n-------------RubyMultipartPost-2bb7b751758949612b695ba13ec78ea0\r\nContent-Disposition:
        form-data; name=\"overwrite\"\r\n\r\n1\r\n-------------RubyMultipartPost-2bb7b751758949612b695ba13ec78ea0\r\nContent-Disposition:
        form-data; name=\"unique_filename\"\r\n\r\n0\r\n-------------RubyMultipartPost-2bb7b751758949612b695ba13ec78ea0\r\nContent-Disposition:
        form-data; name=\"use_filename\"\r\n\r\n1\r\n-------------RubyMultipartPost-2bb7b751758949612b695ba13ec78ea0\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"RackMultipart20240826-5528-crqfhd.csv\"\r\nContent-Length:
        82\r\nContent-Type: application/octet-stream\r\nContent-Transfer-Encoding:
        binary\r\n\r\nname,password\n\nMaria Turing,AAAfk1swods\n,\nIsabella,Abc123\n,\nAxel,000aaaBBBccccDDD\n\r\n-------------RubyMultipartPost-2bb7b751758949612b695ba13ec78ea0\r\nContent-Disposition:
        form-data; name=\"signature\"\r\n\r\n7f1b1956079c7383eb9af1a1d9d905def88e727c\r\n-------------RubyMultipartPost-2bb7b751758949612b695ba13ec78ea0\r\nContent-Disposition:
        form-data; name=\"api_key\"\r\n\r\n894569618199779\r\n-------------RubyMultipartPost-2bb7b751758949612b695ba13ec78ea0--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-2bb7b751758949612b695ba13ec78ea0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d2f3ca7dfe1a0a3647c73c1c20df569a"
    body:
      encoding: ASCII-8BIT
      string: '{"asset_id":"2271fa36378a5894ac9022cc4891dbfa","public_id":"RackMultipart20240826-5528-crqfhd.csv","version":1724673238,"version_id":"df5dca973ecd566722bd254a1d65c39c","signature":"b57745b2661ec5187fcfbe004b62b07e87011115","resource_type":"raw","created_at":"2024-08-26T11:53:58Z","tags":[],"bytes":82,"type":"upload","etag":"8731d09322c66563fb3d98a8c36400aa","placeholder":false,"url":"http://res.cloudinary.com/dsrvrjdsl/raw/upload/v1724673238/RackMultipart20240826-5528-crqfhd.csv","secure_url":"https://res.cloudinary.com/dsrvrjdsl/raw/upload/v1724673238/RackMultipart20240826-5528-crqfhd.csv","folder":"","original_filename":"RackMultipart20240826-5528-crqfhd","api_key":"894569618199779"}'
  recorded_at: Mon, 26 Aug 2024 11:53:58 GMT
- request:
    method: get
    uri: http://res.cloudinary.com/dsrvrjdsl/raw/upload/v1724673238/RackMultipart20240826-5528-crqfhd.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/csv
      Etag:
      - '"8731d09322c66563fb3d98a8c36400aa"'
      Last-Modified:
      - Mon, 26 Aug 2024 11:53:59 GMT
    body:
      encoding: UTF-8
      string: |
        name,password

        Maria Turing,AAAfk1swods
        ,
        Isabella,Abc123
        ,
        Axel,000aaaBBBccccDDD
  recorded_at: Mon, 26 Aug 2024 11:53:58 GMT
recorded_with: VCR 6.3.1
