---
http_interactions:
- request:
    method: post
    uri: https://api.cloudinary.com/v1_1/dsrvrjdsl/raw/upload
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-d0558be948e6c656f959f4eb06a291a8\r\nContent-Disposition:
        form-data; name=\"timestamp\"\r\n\r\n1724641395\r\n-------------RubyMultipartPost-d0558be948e6c656f959f4eb06a291a8\r\nContent-Disposition:
        form-data; name=\"overwrite\"\r\n\r\n1\r\n-------------RubyMultipartPost-d0558be948e6c656f959f4eb06a291a8\r\nContent-Disposition:
        form-data; name=\"unique_filename\"\r\n\r\n0\r\n-------------RubyMultipartPost-d0558be948e6c656f959f4eb06a291a8\r\nContent-Disposition:
        form-data; name=\"use_filename\"\r\n\r\n1\r\n-------------RubyMultipartPost-d0558be948e6c656f959f4eb06a291a8\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"test_users20240826-38804-630k7a.csv\"\r\nContent-Length:
        42\r\nContent-Type: application/octet-stream\r\nContent-Transfer-Encoding:
        binary\r\n\r\nname,password\r\n,\r\nMuhammad,QPFJWz1343439\r\n\r\n-------------RubyMultipartPost-d0558be948e6c656f959f4eb06a291a8\r\nContent-Disposition:
        form-data; name=\"signature\"\r\n\r\nd18a5893fde6c41375f48fd9153e09eb3182632a\r\n-------------RubyMultipartPost-d0558be948e6c656f959f4eb06a291a8\r\nContent-Disposition:
        form-data; name=\"api_key\"\r\n\r\n894569618199779\r\n-------------RubyMultipartPost-d0558be948e6c656f959f4eb06a291a8--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-d0558be948e6c656f959f4eb06a291a8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"373edb611f99e0bd3e4f47e6ed0401ab"
    body:
      encoding: ASCII-8BIT
      string: '{"asset_id":"3f78322ba9632339d7b07b626ffd50d5","public_id":"test_users20240826-38804-630k7a.csv","version":1724641396,"version_id":"81cf72bab2713ec212229ac498454acf","signature":"553a31ad607c10dcf8fdba0cc287472345a82d36","resource_type":"raw","created_at":"2024-08-26T03:03:16Z","tags":[],"bytes":42,"type":"upload","etag":"6418aca3c62a42d6d77031c1e6b5d9d6","placeholder":false,"url":"http://res.cloudinary.com/dsrvrjdsl/raw/upload/v1724641396/test_users20240826-38804-630k7a.csv","secure_url":"https://res.cloudinary.com/dsrvrjdsl/raw/upload/v1724641396/test_users20240826-38804-630k7a.csv","folder":"","original_filename":"test_users20240826-38804-630k7a","api_key":"894569618199779"}'
  recorded_at: Mon, 26 Aug 2024 03:03:17 GMT
recorded_with: VCR 6.3.1
